*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    height: 60px;
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 200px;
}

#logo{
    font-size: 50px;
    color: red;
}

.review{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 15%;
}

.text2{
    font-size: 0.75rem;
    text-align: right;
    color: grey;
}

span{
    margin-top: 50px;
}
.copyright{
background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.design{
    height: 150px;
    margin-top: 80px;
}

.frontend{
    display: flex;
    align-items: center;
    justify-content: center;
}

.style{
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 0.85rem;
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem
}

.work{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.education{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.rev{
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.rev{
    margin-bottom: 25px;
}

.project{
    margin-bottom: 25px;
}


@media (max-width: 586px) {
    a {
        margin-right: 20px;
        font-size: 1rem;
    }

    #logo {
        font-size: 30px;
    }

    .box, .navbar {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    .navbar, .box, .project, .work, .education {
        justify-content: center;
        text-align: center;
    }

    .design {
        margin-top: 40px;
        height: auto;
    }

    span {
        margin-top: 20px;
        display: block;
    }

}
